.profile{
    height: 500px;
    .userInfo{
        .user_information{
            h3{
                font-size: 1rem;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
}